Redirect /hold_up/demos/Hold-Up_Demo_1.7.5_DE.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.5_FR.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.5_IT.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.5_US.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.6_DE.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.6_FR.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.6_IT.sit http://www.pol-online.net/hold_up/index.html
Redirect /hold_up/demos/Hold-Up_Demo_1.7.6_US.sit http://www.pol-online.net/hold_up/index.html
